<% content_for :body_class, "main-bg-yellow" %>

<section class="mod-hero">
  <h1>￼Connecting Businesses, Communities and the Tech Talent Pipeline</h1>
  <p class="actions">
    <%= link_to "Learn More", learn_more_path, class: "button"%>
    <%= link_to "Sign Up", signup_path, class: "button"%>
  </p>
</section>

<section class="mod-stories layout-wrap">
  <div class="story">

    <h1>How Monsanto is doing it</h1>
    <div class="embed-container">
      <iframe src="https://player.vimeo.com/video/126637482" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/126637482">Kara, Marquis and Caleb @ Monsanto</a> from <a href="https://vimeo.com/user32162469">LaunchCode</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    <p><%= link_to "More stories from people who’ve been impacted by TechHire", "#" %></p>
  </div>
  <div class="story">
    <h1>How Capital One is doing it</h1>
    <div class="embed-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/85hEQF2GkyE" frameborder="0" allowfullscreen></iframe>
    </div>
    <p><%= link_to "More stories from businesses who’ve been impacted by TechHire", "#" %></p>
  </div>
</section>
