<h1>￼Connecting businesses, communities and the tech talent pipeline</h1>

<div class="links">
  <%= link_to "Learn More", learn_more_path %>
  <%= link_to "Sign Up", signup_path %>
  <%= link_to "Tools & Resources", tools_resources_path %>
</div>

<div class="embed-container">
  <%= YoutubeHelper.embed("https://www.youtube.com/watch?v=ZzQ3eBerHfM") %>
</div>
