<h1>Learn more</h1>

<div class="embed-container col-md-4">
  <%= YoutubeHelper.embed("https://www.youtube.com/watch?v=ZzQ3eBerHfM") %>
</div>
<div class="text col-md-8">
  <p>
    TechHire is a public-private initiative in American cities,
    states, and communities to get more Americans rapidly trained
    for well-paying technology jobs.
  </p>
  <p>
    Over half a million such jobs are open today, with employer
    demand to hire for these jobs growing faster than traditional
    education and training programs can supply them.
  </p>
  <p>
    TechHire seeks to equip Americans for these jobs through rapid
    nontraditional approaches like coding boot camps and high-quality
    online courses.
  </p>
</div>
<div class="">
  <button name="button">Contact Us: techhire@opportunityatwork.org</button>
</div>
