<div class="mod-heading learn">
  <h1>Learn More</h1>
</div>

<div class="layout-wrap">
  <div class="layout-callout">

    <div class="callout">
      <div class="embed-container">
        <iframe frameborder="0" src="https://www.youtube-nocookie.com/embed/3iiXLXo2hic?rel=0&amp;showinfo=0"></iframe>
      </div>
    </div>

    <p>
      Opportunity<span class="opportunity-at">@</span>Work's first initiative aims to enable widespread adoption of inclusive hiring and accelerated training into good tech jobs, across all industries. Across the U.S., over half a million such jobs are open today, with employer demand to hire for these jobs growing faster than traditional education and training programs. Beginning with the 21 communities of President Obama's “TechHire” initiative, which today represents over 130,000 open IT jobs, Opportunity<span class="opportunity-at">@</span>Work will work with a range of technology, private sector and philanthropic partners to create freely available tools to streamline the sign-up and participation of thousands of employers (several hundred have already signed on) in inclusive hiring, and to facilitate a nationwide learning network to rapidly improve TechHire’s impact.
    </p>
    <p>
      TechHire communities are committed to taking action – working with each other, employers, training institutions, and other partners – to expand access to tech jobs. To kick off TechHire, 21 forward-leaning communities have announced plans to work together in new ways to recruit and place applicants based on their actual skills, and to create more fast track tech training opportunities. Communities are working to empower Americans with the skills they need, through universities and community colleges, but also nontraditional approaches like “coding boot camps,” and high-quality online courses that can rapidly train workers for a well-paying job, often in just a few months. Employers across the United States are in critical need of talent with these skills. The President is challenging other communities across the country to adopt this TechHire model.
    </p>

  </div>
</div>

<div class="mod-content yellow">
  <div class="layout-wrap icon-check">
    <h2>The Opportunity: Rethinking the Skills Gap</h2>
    <p>Our job market works best for those Americans who follow conventional paths to four-year college degrees and who have the social capital and mentorship that encourages employers to take a chance on hiring, training, and advancing them. It works less well for the growing number of people whose journeys are less linear or gilded, including the 35 million people with “some college” but no degree, mid-career industry switchers, un-credentialed workers who mastered their skills on the job, full-time parents re-entering the workforce, the long-term unemployed, skilled immigrants, and young people reaching for the first rungs on the career ladder.
    </p>
    <p>
      With U.S. job openings at their highest levels in at least 15 years, how can so many American workers find themselves stuck without access to a well-paying job?  This seems like a paradox, but a few statistics offer some clues:
    </p>


    <div class="two-columns">
      <div class="col icon-playbook">
        <h2>U.S. Job Openings by the Numbers</h2>
        <ul class="bulleted">
          <li>
            In the United States, voluntary job changes – quitting seeking a better job – are down by 28 percent since 2000.
          </li>
          <li>
            While only 19 percent of administrative assistants have four-year college degrees, almost two-thirds of new assistant jobs require a four-year degree just to be considered.
          </li>
          <li>
            Employers are only half as likely to grant an interview to a long-term unemployed candidate when compared to someone more recently employed with identical education, skills and experience – yet, a study of 20,000 hires found that this distinction made no difference in likely job performance.
          </li>
        </ul>
      </div>

      <div class="col icon-sheet">
        <h2>Underlying Issues</h2>
        <p>What these dysfunctions all have in common is an origin on the “demand” side of the U.S. labor market – how employers recruit, hire, train, and promote. Yet most interventions that aim to improve employment outcomes focus on the “supply side”— education and job training. These efforts are important, but they can’t “close the skills gap” without demand-side reforms. We need smarter employer practices, and the partnerships and public policies to support them. Employers are experiencing a classic market failure, in which hiring and training practices are inadvertently limiting the collective talent pipeline and creating “skills mismatches” with economy-wide ripple effects. These mismatches are a key reason why nearly half of U.S. employers report difficulty hiring employees who have the skills their companies need to compete.</p>
      </div>
    </div>
  </div>
</div>


<div class="mod-content">
  <div class="layout-wrap">
      <div class="col">
        <a href="http://www.opportunityatwork.org">
          <%= image_tag "oatw_logo.png", style: "display: inline-block; float: left; padding: 20px;" %>
        </a>
        <div stlye="display: inline-block; float: left;">
          <p>
          Opportunity<span class="opportunity-at">@</span>Work is a civic enterprise whose mission is to re-wire the U.S. labor market to enable more Americans to achieve upward mobility in the job market and workplace, to facilitate actions by U.S. employers to develop the talent they collectively need to succeed and grow, and to scale up innovations that unlock more fully all people’s potential for higher-value, meaningful work as a source of economic opportunity and national competitive advantage.
          </p>
          <p>You can also read more about TechHire by visiting the <a href="https://www.whitehouse.gov/issues/technology/techhire">White House page</a>.</p>
        </div>
      </div>
  </div>
</div>
