<% content_for :footer do %>
<%= javascript_include_tag "rate_calculator" %>
<% end %>
<div class="mod-heading learn">
  <h1>Learn More</h1>
</div>

<div class="layout-wrap">
  <div class="layout-callout">

    <div class="callout">
      <div class="embed-container">
        <iframe frameborder="0" src="https://www.youtube-nocookie.com/embed/3iiXLXo2hic?rel=0&amp;showinfo=0"></iframe>
      </div>
    </div>

    <p>
      Beginning with the 21 communities of the TechHire initiative – announced by President Obama in March 2015 – which today represent over 130,000 open IT jobs, Opportunity<span class="opportunity-at">@</span>Work will work with a range of technology, private sector, and philanthropic partners to create freely available tools to streamline the sign-up and participation of thousands of employers in inclusive hiring, and to facilitate a nationwide learning network to rapidly improve the impact of TechHire. Over 300 employers have already signed on.
    </p>

    <p>
      The 21 TechHire communities are committed to taking action – working with each other, employers, training institutions, and other partners – to create a better marketplace for IT jobs. TechHire communities – including cities, small states, and rural areas - have announced plans to work together in new ways to recruit and place applicants based on their actual skills and to create more fast track tech training opportunities, based on market-wide hiring needs. 
    </p>

    <p>
      TechHire communities will build a talent pipeline by leveraging their 4-year universities and community colleges, but will also leverage non-traditional approaches, including hiring on-ramps for people with the skills but not the pedigree to be hired in traditional ways, accelerated coding “boot camps,” and high-quality online courses that prepare workers for well-paying IT jobs, often in just a few months.
    </p>

    <p>
      The long-term objective of TechHire is to create the labor market conditions nationally that enable employers to "hire when ready" and job seekers to be aware of, prepare for, and connect with IT jobs and careers. By creating compelling proof points in communities throughout the country; uncovering common challenges; developing scalable solutions; and bringing to bear national and regional partnerships and resources, TechHire, with support from Opportunity<span class="opportunity-at">@</span>Work, will serve as a catalyst to transforming the broader labor market.
    </p>
  </div>
</div>

<div class="mod-content">
  <div class="layout-wrap icon-check">
    <div class="col">
      <h2>The Case for Businesses</h2>
      <p>Meaningful work is essential to human flourishing and to America’s promise of upward mobility and civic equality, while tapping the full talents of our people is essential for productive and inclusive economic growth. The gradual erosion of such work for many in the US economy over the past 30 years threatens both America’s promise and economic vitality.</p>
      <p>Every day that goes by without filling an open position costs a business $434 on average. This number is likely higher for IT jobs which take an average of 95 business days to fill - higher than the overall average. Committing to TechHire means access to an expanded hiring pool with qualified candidates who are ready to work, but may have previously been overlooked.</p>
    </div>

  </div>
</div>

<div class="mod-content">
  <div class="layout-wrap">
    <h2>Find Out How Much Your Open Positions Are Costing You</h2>
    <form id="rate-calculator">
      <p>
        <span class="leading-dollar"> $ </span>
        <span class="calc-group">
          <label for="calculator_rate">Daily Rate:</label>
          <input type="text" name="calculator[rate]" class="calc-input calc-rate" value="434">
        </span>

        <span> X </span>

        <span class="calc-group">
          <label for="calculator_positions"># of Open Positions:</label>
          <input type="text" name="calculator[positions]" class="calc-input calc-positions" value="1">
        </span>

        <span> X </span>

        <span class="calc-group">
          <label for="calculator_positions"># of Days Unfilled:</label>
          <input type="text" name="calculator[days]" class="calc-input calc-days" value="1">
        </span>

        <span> = </span>

        <span class="calc-group">
          <label for="calculator_total">Total Cost:</label>
          <input type="text" name="calculator[days]" class="calc-total" readonly value="$434.00">
        </span>
      </p>
      <small>Source: CEB Corporate Leadership Council</small>
    </form>
  </div>
</div>


<div class="mod-content yellow">
  <div class="layout-wrap icon-check">
    <h2>Rethinking the “Skills Gap” as a Labor Market Failure: Need and the Opportunity</h2>
    <p>
      With over 5 million open jobs in the United States—the highest level in at least 15 years—how can so many American workers find themselves stuck, without a path to well-paid employment?
    </p>
    <p>
      Nearly half of U.S. employers report difficulty in hiring employees who have the skills their companies need to compete, a figure consistent with employer surveys over the last two business cycles.
    </p>
    <p>
      Yet, since 2000, real wages for the median worker have stagnated and voluntary job changes – i.e., quitting a job to take or seek a better (usually higher-paying) one – are down by 28 percent. This seems like a confounding paradox, but a few U.S. statistics offer some clues as to the underlying causes:
    </p>


    <div class="two-columns">
      <div class="col icon-playbook">
        <h2>U.S. Job Openings by the Numbers</h2>
        <ul class="bulleted">

          U.S. Job Openings by the Numbers

          <li>
            While only 19 percent of administrative assistants have four-year college degrees, 65 percent of new assistant job postings require a four-year degree just to be considered. (Burning Glass)
          </li>

          <li>
            Employers are only half as likely to grant an interview to a job candidate unemployed for over 6 months, compared to someone more recently employed with identical education, skills and experience. Yet, a study of 20,000 hires found that this distinction made no difference in likely job performance. (Evolv)
          </li>

          <li>
            Less educated workers report being only half as likely to receive valuable on-the-job training from their employers as did workers with more formal education. (OECD)
          </li>
        </ul>
      </div>

      <div class="col icon-sheet">
        <h2>Underlying Issues</h2>

        <p>
          What these dysfunctions all have in common is an origin on the “demand” side of the U.S. labor market – how employers recruit, hire, train, and promote. Yet most interventions that aim to improve employment outcomes focus purely on the “supply side”— education and job training. These efforts are important, but they can’t “close the skills gap” without demand-side reforms. We need smarter, more inclusive employer practices and the partnerships and public policies to support them.
          Employers are experiencing a classic market failure, in which screening, hiring, and training practices are inadvertently limiting the collective talent pipeline and creating “skills mismatches” with economy-wide ripple effects. As an illustration of how costly this is for employers, consider the following back-of-the-envelope estimate. An open job costs $434 each day in lost productivity and sales (CEB) – considerably more in high-value fields such as IT, where jobs pay 76 percent above average (BLS).
          The average time to fill an open IT job nearly doubled from 43 to 76 days in the past 5 years. With nearly 600,000 open IT jobs now – just 12 percent of total open jobs – and a million more projected in the next few years, just shrinking average time-to-fill IT jobs back to 2010 levels is worth around $40 billion annually to US employers: double what’s spent on all federal job training programs.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="mod-content">
  <div class="layout-wrap">
      <div class="col">
        <a href="http://www.opportunityatwork.org" target="_blank">
          <%= image_tag "oatw_logo.png", style: "display: inline-block; float: left; padding: 20px;" %>
        </a>
        <div stlye="display: inline-block; float: left;">
          <p>
          Opportunity<span class="opportunity-at">@</span>Work is a civic enterprise whose mission is to re-wire the U.S. labor market to enable more Americans to achieve upward mobility in the job market and workplace, to facilitate actions by U.S. employers to develop the talent they collectively need to succeed and grow, and to scale up innovations that unlock more fully all people’s potential for higher-value, meaningful work as a source of economic opportunity and national competitive advantage.
          </p>
          <p>You can also read more about TechHire by visiting the <a href="https://www.whitehouse.gov/issues/technology/techhire">White House page</a>.</p>
        </div>
      </div>
  </div>
</div>
