<div class="mod-heading learn">
  <h1>Learn More</h1>
</div>

<div class="layout-wrap">
  <div class="layout-50-50">
    <div class="col">
      <div class="embed-container">
        <iframe frameborder="0" src="https://www.youtube-nocookie.com/embed/3iiXLXo2hic?rel=0&amp;showinfo=0"></iframe>
      </div>
    </div>
    <div class="col">
      <p>
        TechHire is a public-private initiative in American cities, states, and communities to get more Americans rapidly trained for well-paying technology jobs.
      </p>
      <p>
        Over half a million such jobs are open today, with employer demand to hire for these jobs growing faster than traditional education and training programs can supply them.
      </p>
      <p>
        TechHire seeks to equip Americans for these jobs through rapid nontraditional approaches like coding boot camps and high-quality online courses.
      </p>
    </div>
  </div>
  <p class="button-center">
    <%= link_to 'Contact Us: techhire@opportunityatwork.org', 'mailto:techhire@opportunityatwork.org', class: 'button' %>
  </p>
</div>
