<div class="mod-heading location">
  <h1>TechHire Locations</h1>
</div>

<div class="mod-map layout-wrap">
  <div class="map"></div>

  <div class="locations">
    <ul></ul>
    <p><%= link_to "Don\'t see your city?", "#", class: 'button small' %></p>
  </div>
</div>
