<div class="mod-heading location">
  <h1>Where Is TechHire</h1>
</div>

<div class="mod-map layout-wrap">
  <h2>Where TechHire is Now</h2>

  <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//www.arcgis.com/apps/MapSeries/index.html?appid=d20555036a54406f859a99e8d094fe70"></iframe>

  <h2>The TechHire Opportunity</h2>

  <p>President Obama has issued a call to action for more communities across the country to join the movement and create TechHire partnerships, and employers in communities all across the country are in critical need of more talent with IT skills. The interactive map below provides a picture of the TechHire opportunity -- it shows real-time the open IT jobs across the U.S.. Gaining an understanding of these  job openings and the specific skills required will be a key step for new communities developing TechHire partnerships.</p>

  <p>Click into a state to see where technology jobs are currently being advertised, represented by a pin in each local market. As you click into each pin, you will be able to browse available technology job listings in a particular community.</p>

  <iframe src="https://www.glassdoor.com/Job/explorer/embed.htm?jobCat1=29" height="720" width="100%"></iframe>

  <p>
    Open jobs data is provided by Glassdoor, Inc. which aggregates millions of U.S. job listings from a variety of online sources, including hiring employers and job boards as well as other online sources. Data is updated several times per day.
  </p>

</div>
