<div class="mod-heading location">
  <h1>TechHire Locations</h1>
</div>

<div class="mod-map layout-wrap">
  <iframe width="800" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//www.arcgis.com/apps/MapSeries/index.html?appid=d20555036a54406f859a99e8d094fe70"></iframe>
</div>
