<h1> Tools/Resources </h1>
<div class="playbook">
  <h3>TechHire Playbook</h3>
  <button name="playbook">Download the Playbook</button>
</div>
<div class="case-studies">
  <div class="business-case">
    <h3>The Case for Businesses</h3>
  </div>
  <div class="mastercard-case">
    <h3>MasterCard Case Study</h3>

  </div>
  <div class="saic-case">
    <h3>SAIC Case Study</h3>
  </div>
</div>
