<div class="text-center">
  <h3>Content Management System(CMS) Instructions</h3>
</div><br/>
<div class="row">
  <div class="panel panel-info" id="dropdown">
    <a data-toggle="collapse" href="#dropdown-lvl1" class="text-center">
      <h3>Navigate The CMS <span class="glyphicon glyphicon-list"></span></h3>
    </a>
    <div id="dropdown-lvl1" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li>
            Navigate the CMS through the <em>'Manage Content'</em> menu in the navigation
            bar at the top of the page.
          </li>
          <li>
            From there you can click on any part of the application you would like to work with.
          </li>
          <li>Simply click on what you want to edit</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-info" id="dropdown">
    <a data-toggle="collapse" href="#dropdown-lvl2" class="text-center">
      <h3>Add Site Content <span class="glyphicon glyphicon-list"></h3>
    </a>
    <div id="dropdown-lvl2" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li>
            To manage content text, descriptions, and headings, use the
            'Manage Static Content' link in the <em>'Manage Content Menu'</em>
          </li>
          <li>
            To upload and remove pdf files use the <em>'Manage PDF Files'</em> link in the
            <em>'Manage Content Menu'</em>
          </li>
          <li>
            To upload and remove videos use the <em>'Manage Video Files'</em> link in the
            <em>'Manage Content Menu'</em>
          </li>
          <li>
            To add TechHire Cities to be displayed on a map follow the <em>'Manage Map'</em>
            link in the <em>'Manage Content Menu'</em>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-info" id="dropdown">
    <a data-toggle="collapse" href="#dropdown-lvl3" class="text-center">
      <h3>Manage Site Content <span class="glyphicon glyphicon-list"></h3>
    </a>
    <div id="dropdown-lvl3" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li>
            To add content to a page use the page specific links in the <em>'Manage Content Menu'</em>.
            For example, use the <em>'Tools/Resources'</em>link to manage what content is displayed on the
            Tools/Resources page.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-info" id="dropdown">
    <a data-toggle="collapse" href="#dropdown-lvl4" class="text-center">
      <h3>Preview Site Changes <span class="glyphicon glyphicon-list"></h3>
    </a>
    <div id="dropdown-lvl4" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li>
            To navigate the site and preview any changes made to site content on each
            page, select the page you would like to view under the <em>'View As User'</em> heading
            in the <em>'Mange Content Menu'</em>.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
