<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">Admin Dashboard</a>
        <a class="navbar-brand" href="#">Companies</a>
        </div>
        <div class="collapse navbar-collapse js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown mega-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Content <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
              <ul class="dropdown-menu mega-dropdown-menu row">
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Content Manager</li>
                    <li class="divider"></li>
                    <li><a href="#">View As User <span class="glyphicon glyphicon-chevron-down pull-right"></span></a></li>
                  </ul>
                    </li>
                    <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Tools/Resources <span class="glyphicon glyphicon-wrench"></li>
                    <li><a href="#">TechHire Playbook</a></li>
                    <li><a href="#">The Case for Businesses</a></li>
                    <li><a href="#">MasterCard Case Study</a></li>
                    <li><a href="#">SAIC Case Study</a></li>
                    <li><a href="#">Fact Sheet</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Manage PDF Files <span class="glyphicon glyphicon-file"></span></li>
                    <li><a href="#">Update PDF Files <span class="glyphicon glyphicon-download-alt"></span></a></li>
                  </ul>
                    </li>
                    <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Learn More <span class="glyphicon glyphicon-education"></span></li>
                    <li><a href="#">Update Learn More Video</a></li>
                    <li><a href="#">Update Content</a></li>
                    <li><a href="#">Update Content Us Link</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Manage Map <span class="glyphicon glyphicon-pushpin"></span></li>
                    <li><a href="#">Update Cities</a></li>
                  </ul>
                    </li>
                    <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Company Sign Up <span class="glyphicon glyphicon-pencil"></span></li>
                    <li><a href="#">Manage Form</a></li>
                    <li><a href="#">Manage Page</a></li>
                    <li><a href="#">Manage Contact US</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Display <span class="glyphicon glyphicon-list"></span></li>
                    <li><a href="#">Manage Header Content</a></li>
                    <li><a href="#">Manage Footer Content</a></li>
                  </ul>
                    </li>
                  </ul>
                    </li>
                  </ul>
                  <a class="nav navbar-right" href="#">Logout</a>
                </div><!-- /.nav-collapse -->
              </nav>
            </div>
<h1>Admin Dashboard</h1>
<div class="uncontacted-companies">
  <% @uncontacted_companies.each do |company| %>
  <%= company.organization %>
  <% end %>
</div>
<div class="contacted-companies">
  <% @contacted_companies.each do |company| %>
  <%= company.organization %>
  <% end %>
</div>
