<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">Admin Dashboard</a>
        <a class="navbar-brand" href="#">Companies</a>
        </div>
        <div class="collapse navbar-collapse js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown mega-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Content <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
              <ul class="dropdown-menu mega-dropdown-menu row">
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Content Manager</li>
                    <li class="divider"></li>
                    <li><a href="#">View As User <span class="glyphicon glyphicon-chevron-down pull-right"></span></a></li>
                  </ul>
                    </li>
                    <li class="col-sm-4">
                  <ul>
                    <li class="dropdown-header"><a href="#">Manage Static Content <span class="glyphicon glyphicon-list"></span></a></li>
                    <li class="dropdown-header"><a href="#">Manage PDF Files <span class="glyphicon glyphicon-file"></span></a></li>
                    <li class="dropdown-header"><a href="#">Manage Video Files <span class="glyphicon glyphicon-film"></span></a></li>
                    <li class="dropdown-header"><a href="#">Manage Map <span class="glyphicon glyphicon-pushpin"></span></a></li>
                  </ul>
                    </li>
                    <li class="col-sm-4">
                  <ul>
                    <li class="dropdown-header"><a href="#">Tools/Resources <span class="glyphicon glyphicon-wrench"></a></li>
                    <li class="dropdown-header"><a href="#">Learn More <span class="glyphicon glyphicon-education"></span></a></li>
                    <li class="dropdown-header"><a href="#">Company Sign Up <span class="glyphicon glyphicon-pencil"></span></a></li>
                    <li class="dropdown-header"><a href="#">Home <span class="glyphicon glyphicon-home"></span></a></li>
                  </ul>
                    </li>
                  </ul>
                    </li>
                  </ul>
                  <a class="nav navbar-right" href="#">Logout</a>
                </div><!-- /.nav-collapse -->
              </nav>
            </div>
<h1>Admin Dashboard</h1>
<div class="uncontacted-companies">
  <% @uncontacted_companies.each do |company| %>
  <%= company.organization %>
  <% end %>
</div>
<div class="contacted-companies">
  <% @contacted_companies.each do |company| %>
  <%= company.organization %>
  <% end %>
</div>
