.mod-content {
  @extend %clearfix;
  padding: 30px 0;
  font-family: $font-family;
  font-size: 15px;
  line-height: 1.428571429;

  .layout-wrap {
    padding-left: 95px;
  }

  &.yellow {
    background: $yellow;
  }

  .two-columns,
  &.two-columns {
    @extend %clearfix;

    .col {
      width: 47.85%;
      float: left;
      padding-left: 65px;

      &:last-child {
        float: right;
      }
    }
  }

  &.two-columns {
    padding-left: 0;

    .layout-wrap {
      padding-left: 30px;
    }
  }

  .three-columns {
    margin-left: -65px;
  }

  .three-columns,
  &.three-columns {
    @extend %clearfix;

    .col {
      width: 32.85%;
      float: left;
      padding-left: 65px;

    }
  }

  &.three-columns {
    padding-left: 0;

    .layout-wrap {
      padding-left: 30px;
    }
  }

  .three-columns {
    margin-left: -65px;
  }

  h2 {
    margin-bottom: 20px;
    font-family: $font-family;
    font-size: 24px;
    line-height: 1.2;
  }

  p {
    line-height: 1.428571429;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      font-weight: 700;
      text-decoration: none;
      color: $red;

      @include hocus {
        text-decoration: underline;
      }
    }

    & + .two-columns {
      margin-top: 50px;
    }

    & + .three-columns {
      margin-top: 50px;
    }
  }

  @include min-width(551px) {
    @each $icon in case, check, playbook, sheet {
      .icon-#{$icon} {
        padding-top: 5px;
        $filename: "i_#{$icon}.png";
        background-image: image-url($filename);
        background-size: (image-width($filename) / 2) auto;
        background-repeat: no-repeat;
      }

      .layout-wrap.icon-#{$icon} {
        background-position: 30px top;
      }
    }
  }

  @include max-width(950px)
  {
    .two-columns,
    &.two-columns {
      .col {
        width: 100%;
        float: none;

        &:first-child {
          margin-bottom: 40px;
        }
      }
    }

    .three-columns,
    &.three-columns {
      .col {
        width: 100%;
        float: none;

        &:first-child {
          margin-bottom: 40px;
        }
      }
    }
  }

  @include max-width(550px)
  {
    .layout-wrap {
      padding-left: 30px;
    }

    .two-columns,
    &.two-columns {
      .col {
        padding-left: 0;
      }
    }

    .two-columns {
      margin-left: 0;
    }

    .three-columns,
    &.three-columns {
      .col {
        padding-left: 0;
      }
    }

    .three-columns {
      margin-left: 0;
    }
  }
  ul.bulleted,ol.bulleted {
  margin-left: 20px;
  li {
    list-style-type: circle;
    margin: 10px 0px;
  }
  }
}

.content-dropdown {
  p {
    margin: 10px 0px;
  }
  display: none;
  padding: 20px 0px;
}

.case-study-logo {
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.private-sector-tool-logo {
  display: block;
  margin: 30px auto;
  max-width: 400px;
}

@include min-width(551px) {
  @each $logo in knack, linkedin, better_weekdays, ceb, code, codecademy, coursera, devbootcamp, flatiron_school, general_assembly, glassdoor, hack_reactor, microsoft, rural_sourcing, treehouse, udacity, yeswecode, capital_one, cisco, edx, galvanize, hackbright_academy, sabio, year_up {
    .#{$logo}-logo {
      padding-top: 5px;
      $filename: "#{$logo}_logo.png";
      background-image: image-url($filename);
      background-size: 100px 30px;
      background-repeat: no-repeat;
      display: block;
      margin: 30px auto;
      width: 100px;
      height: 30px;
    }
  }
}
.oatw-logo{
  display: inline-block;
  float: left;
  padding: 20px;
  $filename: "oatw_logo.png";
  background-image: image-url($filename);
  background-size: 260px 100px;
  background-repeat: no-repeat;
  display: block;
  width: 300px;
  height: 120px;
  margin-right: 20px;
}

.capital-one{
  $filename: "capital_one.png";
  background-image: image-url($filename);
  background-size: 450px 180px;
  background-repeat: no-repeat;
  display: block;
  width: 500px;
  height: 200px;
}

.rural-sourcing{
  $filename: "RuralSourcing.png";
  background-image: image-url($filename);
  background-size: 300px 120px;
  background-repeat: no-repeat;
  display: block;
  width: 300px;
  height: 120px;
}

.xpanxion{
  $filename: "XpanxionLogo.png";
  background-image: image-url($filename);
  background-size: 600px 170px;
  background-repeat: no-repeat;
  display: block;
  width: 600px;
  height: 200px;
}

.employer-playbook {
  padding-top: 5px;
  $filename: "employer_playbook.png";
  background-image: image-url($filename);
  background-size: 300px 252px;
  background-repeat: no-repeat;
  display: block;
  margin: 30px auto;
  width: 300px;
  height: 200px;
}

.pdf-view {
  padding-top: 5px;
  $filename: "pdf_download.png";
  background-image: image-url($filename);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  display: block;
  margin: 30px auto;
  width: 100px;
  height: 100px;
}

table, tr, td {
  border-collapse: collapse;
  padding: 10px;
}