.mod-heading {
  margin-bottom: 50px;
  padding: 0 30px 45px;
  text-align: center;
  background: $yellow inline("mask_heading_bottom.png") center bottom no-repeat;
  background-size: 100% auto;

  @each $icon in check, learn, location, tools {
    &.#{$icon} h1 {
      $filename: "h_#{$icon}.png";
      background-image: image-url($filename);
      background-size: (image-width($filename) / 2) auto;
    }
  }

  h1 {
    font-size: 36px;
    padding-top: 115px;
    text-transform: capitalize;
    color: $blue;
    background: center 30px no-repeat;
  }

  h2 {
    @extend h1;
    font-size: 20px;
  }
}
