<div class="login">
  <%= form_for @admin, url: admin_login_path do |f| %>
  <%= f.text_field :username, placeholder: "Username" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit "Login" %>
  <% end %>
</div>
