<div class="home signup_form">
  <h2>Start hiring</h2>
  <h4>Whether you’re an employer, hiring manager, or community leader, all we need is an interest from you in learning/n
more about TechHire, and a passion to find and hire talented employees in your community who are ready to work.</h4>
</div>
    <%= render partial: "signup_form" %>
