<div class="mod-heading check">
  <h1>Thank You!</h1>
</div>

<div class="layout-wrap">
  <p>
    Thanks for signing up! You should receive an email confirmation in just a few minutes.
  </p>
  <p>
    <%= link_to "Return to the TechHire home page", "/" %>.
  </p>
</div>

