<div class="mod-heading tools">
  <h1>Case Study: Capital One</h1>
</div>


<div class="mod-content">
  <div class="layout-wrap">
    <%= image_tag "capital_one.png", class: "case-study-logo" %>
</div>
  <div class="layout-wrap icon-case">
    <div class="col">
      <p><strong>Eric Greise</strong>, of Richmond, Virginia, has worked at Capital One as a manager in an operations center in Virginia for several years. This past fall, he received a scholarship from Capital One to complete a Nanodegree from the online university Udacity to formally teach him the programming skills needed for building modern digital applications.
      </p>

      <p>
      He is looking forward to graduating from the program soon and recently spent a day immersed with one of Capital One’s API development teams seeing how his skills can be applied. Upon graduation, Eric is planning to apply for a full-time junior software engineering role at Capital One.
      </p>

      <p>
      <strong>Cory Woods</strong>, of Richmond, Virginia, joined Capital One in 2014 as an intern through Capital One’s Autism@Work program, an internship program that provides on-the-job technical training and specialized support for individuals on the spectrum.
      </p>
      <p>
      While working as a system tester, Cory received on-the-job training and mastered a variety of web-based testing applications and tools. He performed the broad array of technical tasks so well that he was hired as a full-time testing specialist just six months after starting his internship.
      </p>

      <p>
      Today, Cory serves as a mentor for others with autism spectrum disorders, through organizations like Courage to Succeed, where he provides advice about therapies, support groups and other resources to help individuals on the spectrum advance both in school and at work.
      </p>

      <p>
      It’s Cory’s personal goal to help others understand autism spectrum disorders, proving that these diagnoses don’t halt professional and personal objectives.
      </p>
    </div>
  </div>
</div>

