<div class="mod-heading tools">
  <h1>Case Study: Rural Sourcing, Inc.</h1>
</div>


<div class="mod-content">
  <div class="layout-wrap">
    <%= image_tag "RuralSourcing.png", class: "case-study-logo" %>
</div>
  <div class="layout-wrap icon-case">
    <div class="col">
      <h2>Bringing Quality Tech Jobs to Local Communities</h2>

      <p>
        At the core of Rural Sourcing Inc’s (RSI) business model is the belief that too many talented Americans are forced to choose between pursuing their ideal vocation or living in their ideal location.
      </p>

      <p>
        This choice or in reality tradeoff means that hundreds of thousands of Americans are either living in smaller cities but not pursuing fulfilling work or have left for the bright lights of the big city where the work is rewarding but the quality of life is not what they envisioned.
    </p>

      <p>
        RSI believes that no one should be forced to choose. We work hard to make sure that our colleagues get to experience fulfilling careers without having to sacrifice the quality of life they desire.
      </p>

      <p>
        We locate our software development centers in smaller cities and find talented software development professionals as well as grow new talent by partnering closely with local colleges and universities.
      </p>

      <p>
        We create a google-esque work environment with plenty of space for collaboration and an impromptu game of foosball. And, with Fortune 1000 clients that hire us to help develop new mobile applications, cloud based solutions or migrate old tech platforms on to newer more robust technologies our colleagues find the work both exciting and challenging.
    </p>
    </div>
  </div>
</div>

<div class="mod-content yellow">
  <div class="layout-wrap icon-check">
    <div class="col">
      <h2>See How Rural Sourcing Helped Karen:</h2>

      <p>
        After four and a half years as a Senior Quality Assurance (QA) Engineer at eBay, I needed to leave my job to take care of my father.
      </p>

      <p>
        After three years, I was able to rejoin the workforce and decided to move from California to South Carolina to live in a place that was slower and had a better quality of life.
      </p>

      <p>
        Unfortunately, jobs were scarce. I was unable to find a position due to the downturn in the economy and the fact that companies were outsourcing many of the jobs that I could have gotten with my experience.
      </p>

      <p>
        In November of 2011, I saw an interview on TV with Monty Hamilton, CEO of Rural Sourcing, talking about how the company planned to bring jobs back to America.
      </p>

      <p>
        He said they were currently hiring developers and would be hiring for other tech positions soon. I decided to take a chance and send them my resume.
      </p>

      <p>
        In less than a month I had an interview at RSI and began working for the company in January of 2012 as the first QA Analyst in the Augusta site. That was three and a half years ago.
      </p>

      <p>
        If it wasn't for RSI and their vision, I would not have this great job that I have today with great people and a bright future. Thanks so much RSI for giving me my life back and believing in America again!
      </p>
    </div>
  </div>
</div>
