<div class="mod-heading tools">
  <h1>Case Study: Xpanxion</h1>
</div>


<div class="mod-content">
  <div class="layout-wrap">
<%= image_tag "XpanxionLogo.png" %>
</div>
  <div class="layout-wrap icon-case">
    <div class="col">
      <h2>Investing in Training to Maintain Local Talent Supply</h2>
        <p>
          Xpanxion is a software engineering firm that provides solutions to businesses through software architecture, design, development, data analytics, and testing services.</p>
        <p>
        The company utilizes a unique business model which places offices in rural areas to leverage lower cost structures and bring high tech jobs to smaller communities.
        </p>

        <p>
          However, due to the lower population base, this approach also makes finding qualified talent more difficult in an already competitive and resource constrained industry.
        Xpanxion as a result has come to an interesting solution – the company invests heavily into training and career development to create its own IT talent pool.
        </p>
        <p>
          Through a rigorous interview process, candidates with strong aptitude and fit are identified and are brought into the organization to begin a regimented training process.
        This includes those that may not have IT experience, and to date, approximately 35% of Xpanxion’s 250 US employees are of non-traditional IT backgrounds.
        </p>

        <p>
          The success of the endeavor has led to high growth and expansion of the firm, so Xpanxion looks to partner with the TechHire initiative to leverage the obvious synergies.
        </p>
    </div>
  </div>
</div>
