label.error {
  clear: both;
  color: #ef514c;
  padding: 0 0 10px 0;
  margin-top: 5;
  display: inline;
  float: left;
  width: 100%;
  line-height: 1em;
  text-align: left;
}

div.error {
  font-size: 14px;
  background-color: #f4dfdf;
  color: #ef514c;
  border: #fdc7c7 3px solid;
  padding: 10px;
  margin-top: 10px;
  display: none;
}

input.error, select.error, textarea.error {
  border-color: #fdc7c7;
}

#employer_fields {
  display: none;
}

#org_type_other, #it_category_other_description, #participate_other_description {
  display: none;
}

#commit_internship_description, #commit_fulltime_description {
  display: none;
}

#plan_other_description, #source_other_description, #attract_other_description, #evaluate_other_description, #retain_other_description {
  display: none;
}