<div class="col-md-8">
  <h3>Admin Content Management System(CMS)</h3>
  <ul>
    <li>
      Navigate the CMS through the 'Manage Content' button in the navigation
      bar at the top of the page.
    </li>
    <li>
      To manage content text, descriptions, and headings, use the
      'Manage Static Content' link in the 'Manage Content Menu'
    </li>
    <li>
      To upload and remove pdf files use the 'Manage PDF Files' link in the
      'Manage Content Menu'
    </li>
    <li>
      To upload and remove videos use the 'Manage Video Files' link in the
      'Manage Content Menu'
    </li>
    <li>
      To add TechHire Cities to be displayed on a map follow the 'Manage Map'
      link in the 'Manage Content Menu'
    </li>
    <li>
      To add content to a page use the page specific links in the 'Manage Content Menu'.
      For example, use the 'Tools/Resources' to manage what content is displayed on the
      Tools/Resources page.
    </li>
    <li>
      To navigate the site and preview any changes made to site content on each
      page, user the 'View As User' link.
    </li>
  </ul>
</div>
