$input-types: color, date, datetime, datetime-local, email, month, number, password, range, search, tel, text, time, url, week;
$input-type-selectors: ();

@each $input-type in $input-types {
  $input-type-selectors: append($input-type-selectors, unquote("input[type='#{$input-type}']"), comma);
}

\::-webkit-input-placeholder {
  color: $gray !important;
}

\:-moz-placeholder {
  color: $gray !important;
}

\::-moz-placeholder {
  color: $gray !important;
}

\:-ms-input-placeholder {
  color: $gray !important;
}

p.notification {
  color: #888888;
  font-size: 60%;
  padding-top: 35px;
  margin: 0px auto;
  text-align: center;
}

p.callout {
  line-height: 0;
  margin: 30px 0 0;
}

p.header {
  max-width: 725px;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;

  &.small {
    font-size: 14px;
  }
}

p.spacer {
  padding-top: 30px;
  font-size: 20px;
}

div.banner {
  padding: 30px 20px 30px;
  margin: 20px 0 20px;
  background-color: #f8efe6;
  text-align: center;
  p {
    margin: auto;
    width: 725px;
  }

  h1 {
    font-size: 23px;
    margin-bottom: 25px;
  }
}

ul.checkmark {
  padding-bottom: 15px;

  li:before {
    content:"\2713\0020";
  }
  li {
    font-size: 15.5px;
    margin-left: 5px;
    overflow: visible;
    line-height: 1.5;
  }
}

ul.checkbox-grid {
  display: inline-block;
  width: 100%;

  li {
    display: block;
    float: left;

    div {
      @extend label;
      display: inline-block;
      label {
        display: inline;
        position: absolute;
        margin-top: 2px;
      }
    }
  }

  &.two-rows li {
    width: 50%;
  }
  &.three-rows li {
    width: 33.3%;
  }
}

div.checkboxes-set-exclusive {
  display: inline-block;

  div.checkbox-header {
    font-size: 10px;
    display: block;
    div {
      display: inline-block;
      max-width: 35px;
    }
  }

  div.checkbox-set {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  div.checkbox-label {
    display: inline;
    position: absolute;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    width: 600px;
  }

  .checkbox-exclusive {
    margin-right: 15px;
    display: inline-block;
  }
}

form {
  max-width: 725px;
  margin: 0 auto;

  .intro {
    margin-bottom: 45px;
  }

  #{$input-type-selectors},
  select,
  textarea {
    -webkit-appearance: none;
    border-radius: 0;
  }

  #{$input-type-selectors},
  select,
  textarea {
    width: 100%;
    display: block;
    margin: 0;
    padding: 8px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
    outline: none;

    &:focus {
      border-color: rgba($green, .5);
      box-shadow: 0 0 5px rgba($green, .5);
    }
  }

  select {
    font-style: italic;
  }

  .select {
    overflow: hidden;
    border: solid 1px #ccc;
    border-radius: 5px;

    select {
      width: calc(100% + 30px);
      border: 0;
    }
  }

  input[type="checkbox"].custom-checkbox {
    display: none;

    & + label {
      width: 14px;
      height: 14px;
      display: inline-block;
      margin: 0 15px 0 0;
      border: solid 1px #ccc;
      border-radius: 3px;
    }

    &:checked + label {
      background: #3f96a6;
    }
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: $gray;
  }

  .row {
    @extend %clearfix;
    margin: 0 20px 18px;
  }

  .cols-25-75 {
    .col {
      width: 22.75%;
      float: left;

      &:last-child {
        width: 72.75%;
        float: right;
      }
    }
  }

  .cols-75-25 {
    .col {
      width: 72.75%;
      float: left;

      &:last-child {
        width: 22.75%;
        float: right;
      }
    }
  }

  .cols-50-25-25 {
    .col {
      &:nth-child(1){
        width: 48%;
        float: left;
      }

      &:nth-child(2){
        width: 29%;
        float: left;
        padding-left: 2em;
      }

      &:nth-child(3){
        width: 22.75%;
        float: left;
        padding-left: 2em;
      }
    }
  }

  .check_box_set {
    input[type="checkbox"] {
      float: left;
    }

    label {
      padding-top: 0.1em;
      margin-bottom: 1em;
    }
  }

  .radio_set {
    input[type="radio"] {
      float: left;
    }

    label {
      padding-top: 0.3em;
      margin-bottom: 1em;
    }
  }

  .radio-toggle {
    clear: both;
    line-height: 1.5;

    input, label {
      float: left;
      display: inline;
      margin-right: 5px;
    }

    label {
      margin-top: -5px;
    }
  }

  .commit {
    margin: 20px 0;
    font-size: 16px;
    font-weight: $font-weight-bold;
    text-align: center;
    color: #3f96a6;

    input[type="text"] {
      width: 75px;
      display: inline-block;
      margin: 10px 15px;
    }
  }

  .commit {
    margin: 20px 0;
    font-size: 16px;
    font-weight: $font-weight-bold;
    text-align: center;
    color: #3f96a6;

    input[type="number"] {
      width: 75px;
      display: inline-block;
      margin: 10px 15px;
    }
  }

  @include max-width(750px) {
    .row {
      margin-right: 0;
      margin-left: 0;
    }
  }

  @include max-width(600px) {
    .cols-25-75 {
      .col,
      .col:last-child {
        width: 100%;
        float: none;
      }

      .col:first-child {
        margin-bottom: 18px;
      }
    }
  }
}

.signup-errors {
  color: red;
  margin: 20px;
  p { margin: 10px 0px; }
  strong { font-weight: bold;}
}

form#rate-calculator {
  font-size: 24px;
  max-width: none;
  input {
    display: inline;
    text-align: right;
    max-width: 100px;
  }
  input.calc-total { max-width: 200px; }
  .calc-group {
    max-width: 160px;
    display: inline-block;
    padding: 0 10px;
  }
  small {
    font-size: 12px;
    color: $gray;
  }
}

div.stages {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 15px;

  a, a:visited, a:hover, a:active {
    color: inherit;
  }

  div.three-boxes {
    width: 670px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .stage {
    float: left;
    width: 210px;
    background-color: #f8efe6;
    margin-right: 10px;
    &.full {
      min-height: 320px;
    }
  }

  .title {
    background-color: #327683;
    color: white;
    font-size: 20px;
    font-weight: 800;
    padding-top: 10px;
  }

  .header {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .progress {
    padding-top: 5px;

    span {
      background-color: red;
      height: 5px;
      display: block;
    }
  }

  .body {
    margin: 5px;
    div {
      padding-bottom: 10px;
    }
  }

  .focus {
    font-weight: 400;
    line-height: 1.2;
  }
}
