<header class="mod-header" role="banner">
  <div class="layout-wrap">
    <h1><%= link_to "TechHire", root_path %></h1>
    <nav role="navigation" id="static-site-nav">
      <ul>
        <% pages[1..-1].each do |page| %>
          <li><%= link_to page.name, "/#{slugify(page.name)}", class: action_name == slugify(page.name) ? "active" : nil %></li>
        <% end %>
        <li><%= link_to "Sign Up", signup_path, class: action_name == "new" && controller_name == "companies" ? "active" : nil %></li>
        <% if current_user && current_user.admin? %>
          <li><%= link_to "Admin Dashboard", admin_dashboard_index_path %></li>
        <% end %>
     </ul>
    </nav>
  </div>
</header>
