<!DOCTYPE html>
<html>
<head>
  <title>OpportunityAtWork</title>
  <link rel='stylesheet' href='css/screen.css'>
  <link rel='stylesheet' href='css/styles.css'>
  <script src='http://code.jquery.com/jquery-2.1.1.min.js'></script>
  <script src='js/jquery.validate.js'></script>
  <script src='js/signup-form.js'></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
